@charset "utf-8";

.ins{
	width: 400px;
	height: 400px;
	background:
	linear-gradient(135deg, #495fcc, #bc318f 40%,#cf2d76 50%, #f1662d 70%, #f4c769);
	border-radius: 90px;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	box-shadow: 0px 10px 10px #BDBDBD;
}

.ins::before{
	content: "";
	display: block;
	width: 230px;
	height: 230px;
	border: solid 30px #fff;
	border-radius: 80px;
	margin: auto;
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.ins::after{
	content: "";
	display: block;
	width: 90px;
	height: 90px;
	border: 30px solid #fff; 
	border-radius: 80px;	
	position: absolute;
	margin: auto;
	top: 0; bottom: 0; left: 0; right: 0;
}

.dot{
	height: 40px;
	width: 40px;
	background: #fff;
	border-radius: 20px;
	position: absolute;
	top: 26%;  right: 26%;
}